translation/.idea/workspace.xml
translation/.idea/translation.iml
translation/.idea/sqldialects.xml
translation/.idea/modules.xml
translation/.idea/dataSources/6d4d6b9b-ec90-4a91-b097-762798831332.xml
translation/.idea/dataSources.xml
translation/.idea/dataSources.local.xml
main/.idea/workspace.xml
main/.idea/modules.xml
main/.idea/main.iml
